.container {
  border: 1px solid gray;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 10px;
  background-color: #F8F0E7;
}

.cards {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.timerLabel {
	display: inline-block;
	margin-right: 10px;
}

.timerContainer {
	margin-bottom: 10px;
}

.dropdownLabel {
	display: inline-block;
	margin-right: 5px;
}

.dropdown {
	display: inline-block;
	margin-bottom: 10px;
}